:root {
   --font-family: 'Noto Sans JP', sans-serif;

   --clr-dark: #2b2b2b;
   --clr-light: #dcdddd;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: var(--font-family);
   font-size: 1.031rem;
   line-height: 1.6;
   letter-spacing: -0.2px;
   word-spacing: 2px;
   font-weight: 300;
   color: var(--clr-dark);
   background-color: #fff;
}

.container {
   width: min(42ch, 100% - 2rem);
   min-height: 100%;
   margin-inline: auto;
   padding-block: 4rem;
}

.session1 {
   display: flex;
}

.session1 > a {
   align-self: flex-end;
   color: inherit;
   font-size: 1.6rem;
   font-weight: 900;
   text-decoration: none;

}

.session1__img-profile {
   margin-right: 4rem;
   width: 100px;
   height: 100px;
   background-color: var(--clr-light);
   border-radius: 50%;

   position: relative;
}

.session1__img {
   width: 70px;
   position: absolute;
   top: 14px;
   left: 50%;
   transform: translate(-50%);
}

.session2 {
   margin-top: 2rem;
   padding-left: calc(4rem + 100px);
}

.session2 > h2 {
   font-size: 1.2rem;
   font-weight: 900;
}

.session2 a {
   color: inherit;
   font-weight: 500;
}

@media (max-width: 42.188em) {
   .container {
      padding-block: 2rem;
   }

   .session1 {
      flex-direction: column;
   }

   .session1 > a {
      align-self: start;
   }

   .session2 {
      padding-left: 0;
   }
}
